.btns {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--white-color);
  padding: 15.5px 22px;
  background-color: var(--burnt-orange-color);
  outline: none;
  border: none;
}
