.hero {
  &__container {
    padding-top: 41px;
    padding-bottom: 68px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12.5px 300px 257px;
    row-gap: 30px;
    column-gap: 31px;
  }

  &__left {
    position: relative;
    padding: 405px 145px 60px 60px;

    &-tag {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 7px 15px;
      background-color: var(--nero-color);
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: var(--white-color);
    }
  }


  &__left-text {
    margin-bottom: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-color);
  }

  &__left-title {
    margin-bottom: 19px;
    max-width: 427px;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 104%;
    color: var(--white-color);
  }

  &__right-title {
    grid-row: 1/1;
    grid-column: 7/13;
    font-family: 'TT Firs Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 104%;
    color: var(--nero-color);
  }

  .img-1 {
    width: 100%;
    height: 100%;
    grid-row: 1/4;
    grid-column: 1/7;
    background: url('../img/hero-1.webp') var(--black-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img-2 {
    width: 100%;
    height: 100%;
    grid-row: 2/2;
    grid-column: 7/13;
    background: url('../img/hero-2.webp') var(--black-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img-3 {
    width: 100%;
    height: 100%;
    grid-row: 3/3;
    grid-column: 7/10;
    background: url('../img/hero-3.webp') var(--black-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .img-4 {
    width: 100%;
    height: 100%;
    grid-row: 3/3;
    grid-column: 10/13;
    background: url('../img/hero-4.webp') var(--black-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
