.tag {
  padding: 6px 14px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
  background-color: var(--nero-color);

  @include mobile {
    & {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
