<section class="about" id="about">
  <div class="container">
    <h2 class="about__title section-title">О студии</h2>
    <div class="about__wrap">
      <p class="about__text">
        В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно
        синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
        высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации!
        Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения
        внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности
        для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает
        независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно,
        граждане, наблюдать, как явные признаки институционализации являются только методом политического участия
        и нарушающими общечеловеческие нормы этики.
      </p>
      <div class="about__right">
        <picture>
          <source srcset="img/about.avif" type="image/avif">
          <source srcset="img/about.webp" type="image/webp">
          <img loading="lazy" src="img/about.jpg" class="about__right-img" width="630" height="255" alt="Изображение фотоаппарата">
        </picture>
        <h3 class="about__right-title">Подписаться на рассылку</h3>
        <form action="#" class="form about__form">
          <label class="form__label">
            <input type="email" name="E-mail" class="input-reset input-email form__input about__input"
              placeholder="Email">
          </label>
          <button class="btn-reset form__btn about__btn btns">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
