<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title section-title">Контакты</h2>
    <div class="contacts__wrap">
      <div class="contacts__map" id="map"></div>
      <div class="contacts__right">
        <h3 class="contacts__right-title">Оставить заявку</h3>
        <p class="contacts__right-text">Оставьте ваши данные, указав в графе «Комментарий» желаемые время и дату съёмки или другого мероприятия</p>
        <form action="#" class="form contacts__form">
          <label class="form__label contacts__label">
            <input type="text" name="Имя" class="input-reset form__input input-name contacts__input contacts__name" placeholder="Имя">
          </label>
          <label class="form__label contacts__label">
            <input type="email" name="E-mail" class="input-reset input-email form__input contacts__input contacts__mail"
              placeholder="Email">
          </label>
          <textarea class="contacts__textarea" name="Coments" placeholder="Комментарий"></textarea>
          <button class="btn-reset form__btn btns contacts__btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>
