<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <a href="#" class="footer__link">
        <img loading="lazy" src="img/logo.svg" class="footer__logo" width="190.25" height="30.7" alt="Логотип студии High Pass">
      </a>
      <p class="footer__signature">Фотостудия High pass® 2018–2020</p>
    </div>
    <p class="footer__copy">
      Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.
      ©&nbsp;Имоджен Каннингем
    </p>
    <div class="footer__right">
      <p class="footer__interesting">Больше интересного:</p>
      <ul class="social list-reset" title="Социальные сети">
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--ok" aria-label="Наша страничка в Однокласниках">
          <svg class="social__svg">
            <use xlink:href="img/sprite.svg#ok"></use>
          </svg>
        </a></li>
        <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk" aria-label="Наша страничка во Вконтакте">
          <svg class="social__svg">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a></li>
      </ul>
    </div>
  </div>
</footer>
