<section class="hero">
  <h1 class="visually-hidden">Фотостудия High Pass</h1>
  <div class="container hero__container">
    <div class="hero__left img-1">
      <p class="hero__left-text">Мастер-класс от Игоря Робова</p>
      <h2 class="hero__left-title">Неоновый фотосет 2.0 7 июля 20:00</h2>
      <button class="btn-reset hero__left-btn">Узнать больше</button>
    </div>
    <h3 class="hero__right-title">Работы участников предыдущего мастер-класса</h3>
    <div class="hero__right-top img-2"></div>
    <div class="hero__left-bottom img-3"></div>
    <div class="hero__right-bottom img-4"></div>
  </div>
</section>
