<section class="hero" id="master-class">
  <h1 class="visually-hidden">Фотостудия High Pass</h1>
  <div class="container hero__container">
    <div class="hero__left">
      <picture>
        <source srcset="img/hero-1.avif" type="image/avif">
        <source srcset="img/hero-1.webp" type="image/webp">
        <img loading="lazy" src="img/hero-1.jpg" class="hero__left-image" width="630" height="630"
          alt="Изображение фотоаппарата">
      </picture>
      <span class="hero__left-tag tag">#мастеркласс</span>
      <div class="hero__left-content">
        <p class="hero__left-text">Мастер-класс от Игоря Робова</p>
        <h2 class="hero__left-title">Неоновый фотосет 2.0 7 июля 20:00</h2>
        <button class="btn-reset hero__left-btn btns" type="button">Узнать больше</button>
      </div>
    </div>
    <h3 class="hero__right-title">Работы участников предыдущего мастер-класса</h3>
    <a href="#" class="hero__right-link">
      <picture>
        <source srcset="img/hero-2.avif" type="image/avif">
        <source srcset="img/hero-2.webp" type="image/webp">
        <img loading="lazy" src="img/hero-2.jpg" class="hero__right-link-image" width="630" height="300" alt="Изображение девушки">
      </picture>
    </a>
    <a href="#" class="hero__right-link-bottom-left">
      <picture>
        <source srcset="img/hero-3.avif" type="image/avif">
        <source srcset="img/hero-3.webp" type="image/webp">
        <img loading="lazy" src="img/hero-3.jpg" class="hero__image hero__right-link-bottom-left-image" width="300" height="257"
          alt="Изображение девушки">
      </picture>
    </a>
    <a href="#" class="hero__right-link-bottom-right">
      <picture>
        <source srcset="img/hero-4.avif" type="image/avif">
        <source srcset="img/hero-4.webp" type="image/webp">
        <img loading="lazy" src="img/hero-4.jpg" class="hero__image hero__right-link-bottom-right-image" width="300" height="257" alt="Изображение девушки">
      </picture>
    </a>
  </div>
</section>
