<section class="projects" id="project">
  <div class="container">
    <div class="h2 projects__title section-title">Наши проекты</div>
    <div class="projects__wrap">
      <div class="projects__left-top">
        <div class="projects__left-top-content">
          <picture>
            <source srcset="img/left-top1.avif" type="image/avif">
            <source srcset="img/left-top1.webp" type="image/webp">
            <img loading="lazy" src="img/left-top1.jpg" class="image" width="190" height="184" alt="Пейзаж">
          </picture>
          <p class="projects__left-top-content-text">Синтетически, смешаны с не уникальными данными до степени…</p>
          <svg class="projects__left-top-content-img">
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          <p class="projects__left-top-content-date">16 июня</p>
        </div>

        <picture>
          <source srcset="img/left-top2.avif" type="image/avif">
          <source srcset="img/left-top2.webp" type="image/webp">
          <img loading="lazy" src="img/left-top2.jpg" class="image" width="190" height="184" alt="Пейзаж">
        </picture>
        <picture>
          <source srcset="img/left-top3.avif" type="image/avif">
          <source srcset="img/left-top3.webp" type="image/webp">
          <img loading="lazy" src="img/left-top3.jpg" class="image" width="190" height="184" alt="Пейзаж">
        </picture>
      </div>
      <div class="projects__right-top"></div>
      <div class="projects__left-bottom"></div>
      <div class="projects__right-botoom"></div>
    </div>
  </div>
</section>
