<section class="projects" id="project">
  <div class="container">
    <div class="h2 projects__title section-title">Наши проекты</div>
    <div class="projects__wrap">
      <a href="#" class="projects__wrap-link projects__wrap-link--1">
        <picture>
          <source srcset="img/left-top1.avif" type="image/avif">
          <source srcset="img/left-top1.webp" type="image/webp">
          <img loading="lazy" src="img/left-top1.jpg" class="projects__wrap-link-image" width="190" height="184" alt="Пейзаж">
        </picture>
        <p class="projects__wrap-link-text">Синтетически, смешаны с не уникальными<span> данными до степени</span>...</p>
        <span class="projects__wrap-link-date">
          <svg>
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          16 июня
        </span>
        <span class="projects__wrap-link-tag tag">#пейзаж</span>
      </a>
      <a href="#" class="projects__wrap-link projects__wrap-link--2">
        <picture>
          <source srcset="img/left-top2.avif" type="image/avif">
          <source srcset="img/left-top2.webp" type="image/webp">
          <img loading="lazy" src="img/left-top2.jpg" class="projects__wrap-link-image" width="190" height="184" alt="Портрет">
        </picture>
        <p class="projects__wrap-link-text">В своём стремлении улучшить опыт мы<no-typography><span>упускаем, что явные</span>...</no-typography></p>
        <span class="projects__wrap-link-date">
          <svg>
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          28 мая
        </span>
        <span class="projects__wrap-link-tag tag">#портрет</span>
      </a>
      <a href="#" class="projects__wrap-link projects__wrap-link--3">
        <picture>
          <source srcset="img/left-top3.avif" type="image/avif">
          <source srcset="img/left-top3.webp" type="image/webp">
          <img loading="lazy" src="img/left-top3.jpg" class="projects__wrap-link-image" width="190" height="184" alt="Пейзаж">
        </picture>
        <p class="projects__wrap-link-text projects__wrap-link-text--hidden">Равным образом, высокое качество позиционных<span> высокотехнологичная концепция общественного уклада</span>...</p>
        <span class="projects__wrap-link-date">
          <svg>
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          14 мая
        </span>
        <span class="projects__wrap-link-tag tag">#предмет</span>
      </a>
      <div class="projects__wrap-right">
        <picture>
          <source srcset="img/right-top.avif" type="image/avif">
          <source srcset="img/right-top.webp" type="image/webp">
          <img loading="lazy" src="img/right-top.jpg" class="projects__wrap-image" width="630" height="300" alt="Девушка прячет лицо">
        </picture>
        <div class="projects__wrap-content projects__wrap-content--analysis">
          <span class="projects__wrap-date">
            <svg>
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            9 апреля
          </span>
          <h2 class="projects__wrap-title">Cемантический разбор</h2>
          <p class="projects__wrap-text">В рамках спецификации современных стандартов, интерактивные прототипы</p>
          <button class="btn-reset projects__wrap-btn btns">О проекте</button>
        </div>
        <span class="projects__wrap-right-tag tag">#fuji</span>
      </div>
      <div class="projects__wrap-left">
        <picture>
          <source srcset="img/left-bottom.avif" type="image/avif">
          <source srcset="img/left-bottom.webp" type="image/webp">
          <img loading="lazy" src="img/left-bottom.jpg" class="projects__wrap-image" width="630" height="300" alt="Девушка прячет лицо">
        </picture>
        <div class="projects__wrap-content projects__wrap-content--oblivion">
          <span class="projects__wrap-date">
            <svg>
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            20 марта
          </span>
          <h2 class="projects__wrap-title">Забвение</h2>
          <p class="projects__wrap-text">Играет важную роль в формировании глубокомысленных рассуждений</p>
          <button class="btn-reset projects__wrap-btn btns">О проекте</button>
        </div>
        <span class="projects__wrap-right-tag tag">#проектзабвение</span>
      </div>
      <a href="#" class="projects__wrap-link projects__wrap-link--4">
        <picture>
          <source srcset="img/right-bottom1.avif" type="image/avif">
          <source srcset="img/right-bottom1.webp" type="image/webp">
          <img loading="lazy" src="img/right-bottom1.jpg" class="projects__wrap-link-image" width="300" height="184" alt="Ретушь">
        </picture>
        <p class="projects__wrap-link-text">Как принято считать, многие известные личности и по сей день остаются уделом либералов…</p>
        <span class="projects__wrap-link-date">
          <svg>
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          9 марта
        </span>
        <span class="projects__wrap-link-tag tag">#ретушь</span>
      </a>
      <a href="#" class="projects__wrap-link projects__wrap-link--5">
        <picture>
          <source srcset="img/right-bottom2.avif" type="image/avif">
          <source srcset="img/right-bottom2.webp" type="image/webp">
          <img loading="lazy" src="img/right-bottom2.jpg" class="projects__wrap-link-image" width="300" height="184" alt="Ретушь">
        </picture>
        <p class="projects__wrap-link-text">С учётом сложившейся международной обстановки, новая модель организационной…</p>
        <span class="projects__wrap-link-date">
          <svg>
            <use xlink:href="img/sprite.svg#calendar"></use>
          </svg>
          9 марта
        </span>
        <span class="projects__wrap-link-tag tag">#портрет</span>
      </a>
    </div>
  </div>
</section>
