@include font-face("Roboto", "../fonts/Roboto-Regular", 400, normal);
@include font-face("Roboto", "../fonts/Roboto-Bold", 700, normal);
@include font-face("TT Firs Neue", "../fonts/TTFirsNeue-Regular", 400, normal);
@include font-face("TT Firs Neue", "../fonts/TTFirsNeue-Medium", 600, normal);
@include font-face("TT Firs Neue", "../fonts/TTFirsNeue-Bold", 700, normal);
